
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

<header>
    <div class="container">
    <h2 id="navh2">Automobiles.</h2>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Pricing</a></li>
                <li><a href="">How it Works</a></li>
                <li><a href="">Support</a></li>
                <li><button id="button1">Sign In</button></li>
                <li><button id="button2">Try It Free</button></li>
                
            </ul>
        </nav>
        </div>
</header>